
   
/*style sheet*/
/* header component */
.body{background-color: rgb(238, 158, 127);}
.accordion{ background-color: rgb(240, 195, 136);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;}
.card-body
{font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 20px;
text-align: center;
}
.nav 
{text-align: center;
background-color: rgb(240, 195, 136);

}
.card{background-color: antiquewhite;}
.btn{background-color: rgb(240, 195, 136);}
.img
{ 

}
